  <a style="position: relative; max-width: 400px;" (click)="openBusket()" #trigger="cdkOverlayOrigin" cdkOverlayOrigin >
    Корзина  <i class="pi pi-shopping-bag busket"></i>
    <nb-badge position="top right" status="success" text="{{products.length}}"></nb-badge>
  </a>
  
  <ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="trigger"
    [cdkConnectedOverlayOpen]="isOpen"
  >
  <div class="busket-body" style="display: flex; flex-direction: column;">
    <div style="margin-right: 20px;">
        <button [disabled]="products.length == 0" (click)="clearBusket()" class="clearBtw" nbButton size="small" status="basic">Очистить корзину</button>
        <button (click)="isOpen = false" size="small" [disabled]="products.length == 0" [routerLink]="[routeOrderLine]" class="orderBtw" nbButton status="primary">Оформить заказ</button>
    </div>
      <div style="padding: 20px;" *ngFor="let product of products">
        <nb-card>
            <nb-card-header>
                <div class="card-header">
                    <a>
                        {{product.name}}
                    </a>
                    <br>
                    <a>Стоимость: {{product.price}}</a>
                </div>
            </nb-card-header>
            <nb-card-body>
                <div class="card-body">
                  <a *ngFor="let prop of product.properties | keyvalue">
                    <br>
                    {{getFormattedProperty(prop)}}
                  </a>
                </div>
            </nb-card-body>
            <nb-card-footer>
            </nb-card-footer>
          </nb-card>
          <a (click)="onDeleteProduct(product.id)" class="deleteProduct"> Удалить </a>
      </div>
       <i (click)="isOpen=false" class="pi pi-times closeBusket"></i>
  </div>
  </ng-template>