<div class="market-bar">
</div>
<div class="products-grid">
  <div *ngFor="let product of products">
    <nb-card>
      <nb-card-header>
          <div class="card-header">
              <h3>
                  {{product.name}}
              </h3>
              <br>
              <a>Стоимость: {{product.price}}</a>
          </div>
      </nb-card-header>
      <nb-card-body>
          <div class="card-body">
            <a *ngFor="let prop of product.properties | keyvalue">
              <br>
              {{getProductProperty(prop)}}
            </a>
          </div>
          <button (click)="addToBusket(product)" nbButton status="primary" style="margin-top:20px">Добавить в корзину</button>
      </nb-card-body>
      <nb-card-footer>
      </nb-card-footer>
    </nb-card>
  </div>
</div>